.AuthPage {
    background-color: #F6FFF8;
    height: 100vh;
}

/* HEADER */
.AuthPage .header {
    margin: 0;
    top: 0;
    position: fixed;
    background-color: #6B9080;
    width: 90vw;
    height: auto;
    text-align: center;
    z-index: 3;
    padding: 10px 5vw;
}
.AuthPage .header h1 {
    margin: 0;
    color: #FFFFFF;
    font-size: 20px;
}

.AuthPage .container {
    margin: 60px 5vw 20px 5vw;
    width: 90%;
    height: 85vh;
    background-color: #ffffff;
    text-align: center;
    place-content: center;
    border-radius: 25px;
    box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
    overflow: hidden;
    position: relative;
    padding-top: 20px;
}

@keyframes dec-animation {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
}
@keyframes cont-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}



.AuthPage .options{
    display: inline-flex;
}
.AuthPage .options h2{
    color: #767676;
    margin: 0;
    font-size: 15px;
    font-family: sans-serif;
}

.AuthPage .container form .box{
    width: 80%;
    height: 60px;
    border-radius: 50px;
    box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
    margin:8.5% auto;
}

.AuthPage .container form .first{
    margin-top: 4%;
}

.AuthPage .submit-button{
    background-color: #6B9080;
    width: 80%;
    height: 60px;
    border-radius: 50px;
    box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
    margin:5% auto;
    color: white;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    border: none;
    transition: 0.2s;
}

.AuthPage .submit-button:hover{
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.7);
    opacity: 0.9;
    transition: 0.2s;
}

.AuthPage button{
    font-family: sans-serif;
    font-size: 15px;
    border: none;
    color:#767676;
    background: none;
}

.AuthPage .container form .inp{
    all: unset;
    font: 16px 'Poppins';
    color: #767676;
    line-height:60px;
    text-align: left;
    width:70%;
    padding-left: 10px;
}




