.AuthPage{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #f9fafb;
    overflow-y: hidden;
}

@keyframes dec-animation {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes cont-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.AuthPage .decoration-box{
    animation: 0.8s ease-out 1 dec-animation;
    position: absolute;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(45deg, #f046ff, #731dd8);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
}

.AuthPage img{
    width: 25%;
    padding-top: 8%;
}
.AuthPage .container{
    animation: 1s ease-out 1 cont-animation;
    position: absolute;
    --width: 80%;
    width: var(--width);
    --height: calc(40vh + 288px);
    height: var(--height);
    top: calc((110% - var(--height))/2);
    left: calc((100% - var(--width))/2);
    background-color: #ffffff;
    text-align: center;
    place-content: center;
    border-radius: 25px;
    box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
}
.AuthPage h1{
    text-align: center;
    font-size: 32px;
    font-family: sans-serif;
    padding-top: 1%;
    color: white;
}

.AuthPage h2{
    color: #767676;
    margin: 0;
    font-size: 15px;
    font-family: sans-serif;
}

.AuthPage .parent{
    display: inline-flex;
}

.AuthPage .container form .box{
    width: 80%;
    height: 60px;
    border-radius: 50px;
    box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
    margin:8.5% auto;
}

.AuthPage .container form .first{
    margin-top: 4%;
}

.AuthPage .submit-button{
    background-image: linear-gradient(45deg, #f046ff, #731dd8);
    width: 80%;
    height: 60px;
    border-radius: 50px;
    box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
    margin:5% auto;
    color: white;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    border: none;
    transition: 0.2s;
}

.AuthPage .submit-button:hover{
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.7);
    opacity: 0.9;
    transition: 0.2s;
}

.AuthPage button{
    font-family: sans-serif;
    font-size: 15px;
    border: none;
    color:#767676;
    background: none;
}

.AuthPage button:hover{
    color:#731dd8;
    text-decoration: underline;
}

.AuthPage .container form .inp{
    all: unset;
    font: 16px 'Poppins';
    color: #767676;
    line-height:60px;
    text-align: left;
    width:70%;
    padding-left: 10px;
}

.AuthPage .gradient{
    font-size: 20px;
    margin-left: 10px;
    line-height:60px;
    text-align: center;
    color:#731dd8;
}

.AuthPage .Navbar .menu-btn{
    color: white;
}

.AuthPage .Navbar .side-bar .menu .item h1{
    color: black;
}

.AuthPage .BackKey .menu-btn{
    color: white;
}


