.ProfilePage {
    background-color: #F6FFF8;
    height: 100vh;
}

/* HEADER */
.ProfilePage .header {
    margin: 0;
    top: 0;
    position: fixed;
    background-color: #6B9080;
    width: 90vw;
    height: auto;
    text-align: center;
    z-index: 3;
    padding: 10px 5vw;
}
.ProfilePage .header h1 {
    margin: 0;
    color: #FFFFFF;
    font-size: 20px;
}

.ProfilePage .container {
    margin: 60px 5vw 20px 5vw;
    width: 90%;
    height: 85vh;
    background-color: #ffffff;
    text-align: center;
    place-content: center;
    border-radius: 25px;
    box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
    overflow: hidden;
    position: relative;
}

/* Background IMG */
.ProfilePage .container .bgimg-container {
    height: 200px;
    overflow: hidden;
}
.ProfilePage .container .bgimg-container img{
    height: 100%;
    width: 100%;
}

/* User IMG */
.ProfilePage .container .userimg-container {
    position: absolute;
    --width: 120px;
    --height: 120px;
    left: calc(50% - var(--width)/2);
    top: calc(200px - var(--height)/2);
    height: var(--height);
    width: var(--width);
    border-radius: 50%;
    overflow: hidden;
}
.ProfilePage .container .userimg-container img {
    height: 100%;
    width: 100%;
}

.ProfilePage .container .name {
    margin: 80px 0 40px 0;
    font-size: 26px;
}
.ProfilePage .container .box-left {
    font-size: 20px;
    display: inline-block;
    width: 50%;
    height: 80px;
}
.ProfilePage .container .box-left h2 {
    font-size: 20px;
    margin: 0;
}
.ProfilePage .container .box-left h3 {
    font-size: 20px;
    margin: 5px;
}
.ProfilePage .container .box-right {
    font-size: 20px;
    display: inline-block;
    width: 50%;
    height: 80px;
}
.ProfilePage .container .box-right h2 {
    font-size: 20px;
    margin: 0;
}
.ProfilePage .container .box-right h3 {
    font-size: 20px;
    margin: 5px;
}

/* INFO */
.ProfilePage .container .info {
    position: absolute;
    bottom: 0;
    background-color: #6B9080;
    width: 100%;
}
.ProfilePage .container .info h4 {
    font-size: 14px;
    margin: 5px;
    color: #ffffff;
}

/* IMG CHOOSE */
.ProfilePage .choose-container {
    animation: 0.5s  ease-in-out 1 showContainer;
    background-color: #ffffff;
    position: fixed;
    z-index: 3;
    top: 50vh;
    /* left: 2.5vw; */
    width: 90vw;
    height: 45vh;
    /* border: #6B9080 solid 1px; */
    box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.1);
    overflow: scroll;
    text-align: center;
    border-radius: 25px 25px 0 0;
    padding: 2.5vh 5vw;
}
.ProfilePage .hide-container {
    animation: 0.5s  ease-in-out 1 closeContainer;
    opacity: 0; 
    z-index: -1; 
}
.ProfilePage .choose-container h1 {
    font-size: 22px;
}
.ProfilePage .choose-container .cancel {
    width: 100%;
    height: 30px;
    font-size: 18px;
}

/* BG IMG CHOOSE */
.ProfilePage .choose-container .bgimg {
    width: 29%;
    padding: 2.16%;
    height: auto;
}

/* USER IMG CHOOSE */
.ProfilePage .choose-container .userimg {
    width: 29%;
    padding: 2.16%;
    height: auto;
}
.ProfilePage .choose-container a {
    color: #6B9080;
}

@keyframes showContainer {
    0% {
        z-index: -1;
        opacity: 0;
        transform: translateY(50vh);
    }
    1% {
        z-index: 0;
        opacity: 1;
    }
    100% {
        z-index: 0;
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes closeContainer {
    0% {
        z-index: 0;
        opacity: 1;
        transform: translateY(0);
    }
    99% {
        z-index: 0;
        opacity: 1;
    }
    100% {
        z-index: -1;
        opacity: 0;
        transform: translateY(50vh);
    }
}