.PathPage {
  height: 1000px;
  background-color: #f9fafb;
  overflow-y: hidden;
  text-align: center;
}
.PathPage h1 {
  padding-top: 4%;
  font-size: 30px;
  font-family: 'Poppins';
  font-style: normal;
  color: black;
}
.PathPage .predictedTime {
  color: gray;
}

.PathPage .pathSpots {
  text-align: center;
  overflow-x: scroll;
  white-space: nowrap;
  height:22%;
  margin-top:5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 10%;
  scrollbar-width: none; /*remove scrollbar for firefox */
}
.PathPage .pathSpots::-webkit-scrollbar {
  display: none; /*remove scrollbar for chrome */
}

.PathPage .card {
  display: inline-block;
  width: 60%;
  height: 90%;
  background-color: white;
  margin-top: 10px;
  margin-left: 1.25%;
  margin-right: 1.25%;
  border-radius: 25px;
  box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.15);
  transition: box-shadow 0.2s;
}

.PathPage .card:hover{
  opacity: 0.9;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
}
.PathPage .card button {
  width: 60px;
  height: 20px;
  font-size: 12px;
}

