.Path {
  height: 1000px;
  background-color: #f9fafb;
  overflow-y: hidden;
  text-align: center;
  place-content: center;
}
.Path h1 {
  margin: 0;
  padding-top: 20px;
  font-size: 30px;
  font-family: 'Poppins';
  font-style: normal;
  color: #f9fafb;
}

.Path h2 {
  margin: 0;
  padding-block: 20px;
  font-size: 24px;
  font-family: 'Poppins';
  font-style: normal;
  color: black;
  display: inline-block;
}

.Path hr {
  width: 20px;
  display: inline-block;
  background-color: black;
}

.Path hr:nth-child(1){
  width: 25px;
  margin-right: 10vw;
}
.Path hr:nth-child(3){
  width: 25px;
  margin-left: 10vw;
}

.Path .predictedTime {
  color: gray;
}

.Path .pathSpots {
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  margin-top: 220px;
  height: fit-content;
  scrollbar-width: none; /*remove scrollbar for firefox */
}
.Path .pathSpots::-webkit-scrollbar {
  display: none; /*remove scrollbar for chrome */
}

.Path .card {
  all: unset;
  display: block;
  width: 80vw;
  height: 30vw;
  background-color: white;
  margin-block: 20px;
  border-radius: 25px;
  box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.15);
  margin-left: 10vw;
  transition: 0.2s;
}
.Path .card:hover{
  opacity: 0.9;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
  transition: 0.2s;
}
.Path .card button {
  width: 60px;
  height: 20px;
  font-size: 12px;
}

.Path .map-btn{
  position: absolute;
  padding: 0;
  right: 20px;
  top: 20px;
  color: #f9fafb;
  font-size: 30px;
  border: none;
  background: none;
}

.Path .map-btn:hover{
  color: black;
  transition: 0.05s;
}

.Path .top{
  z-index: 3;
  top: 0;
  position: fixed;
  width:100%;
  min-height: 0;
  background-color: #f9fafb;
}

.Path .top-shadow{
  box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.5);
}

.Path .top-top{
  background-color: #731dd8;
  padding-bottom: 20px;
}
.Path .mid-top{
  width: 100vw;
  height: 60px;
}

.Path .bot-top{
  margin-bottom: 10px;
}

.Path .BackKey .menu-btn{
  color:#f9fafb;
}
.Path .BackKey .menu-btn:hover{
  color:black;
}

.Path .predictedTime{
  display: block;
}

.Path .start-btn{
  background-color: #3800a5;
  color:#f9fafb;
  font-size: 20px;
  width: 30vw;
  height: 10vw;
  border: none;
  border-radius: 5px;
}