.PathMain {
    background-color: #F6FFF8;
    min-height: 100vh;
}

/* HEADER */
.PathMain .header {
    margin: 0;
    top: 0;
    position: fixed;
    background-color: #6B9080;
    width: 100%;
    height: auto;
    text-align: center;
    z-index: 3;
}
.PathMain .header-shadow{
    box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.5);
}
.PathMain .header h1 {
    margin: 0;
    padding: 10px;
    color: #F4F4F4;
    font-size: 18px;
}
.PathMain .menu-btn {
    top: 0;
    z-index: 3;
    position: fixed;
    padding: 10px;
}

/* CARD CONTAINER */
.PathMain .container{
    padding: 40px 0 20px 0;
}
.PathMain .card {
    background-color: #CCE3DE;
    animation: 0.6s ease-out 1 boxanimation;
    display: flex;
    border-radius: 16px;
    margin: 35px auto;
    width: 85%;
    height: 200px;
    box-shadow: 0px 35px 25px -24px rgba(0, 0, 0, 0.19);
    /* transition: 0.2s; */
    overflow: hidden;
    font-size: 20px;
}
.PathMain .card img {
    animation: 0.6s ease-out 1 imganimation;
    width: 100%;
    height: 100%;
    /* transition: 0.2s; */
}
.PathMain .card h2 {
    z-index: 1;
    position: absolute;
    margin-left: 30px;
    margin-top: 20px;
    font-size: inherit;
    /* color: #365145; */
    color: #ffffff;
    
}
.PathMain .card .name {
    background-color: #365145;
    display: inline;
    font-size: inherit;
}
.PathMain .card .check {
    /* background-color: white; */
    /* color: #365145; */
    background-color: #365145;
    display: inline;
    font-size: inherit;
    margin: 0 0 0 10px;
}
@keyframes boxanimation {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
@keyframes imganimation {
    0% {
      transform: translateX(-30%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
/* 
.PathMain .card:hover{
    transform: scale(1.05);
    opacity: 0.9;
    box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.15);
    transition: 0.2s;
} 
.PathMain .card:hover img{
    transform: scale(1.15);
    transition: 0.3s;
} */