.PathMain {
    background-color: #F6FFF8;
    min-height: 100vh;
}

/* HEADER */
.PathMain .header {
    margin: 0;
    top: 0;
    position: fixed;
    background-color: #6B9080;
    width: 90vw;
    height: auto;
    text-align: center;
    padding: 10px 5vw;
    z-index: 3;
}
.PathMain .header-shadow{
    box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.5);
}
.PathMain .header h1 {
    margin: 0;
    color: #F4F4F4;
    font-size: 20px;
}

/* CARD CONTAINER */
.PathMain .container{
    padding: 40px 0 20px 0;
}
.PathMain .card {
    animation: 0.6s ease-out 1 boxanimation;
    border-radius: 16px;
    margin: 35px auto;
    width: 85%;
    height: 230px;
    box-shadow: 0px 35px 25px -24px rgba(0, 0, 0, 0.19);
    /* transition: 0.2s; */
    overflow: hidden;
    font-size: 20px;
    text-align: center;
    position: relative;
}
.PathMain .card img {
    animation: 0.6s ease-out 1 imganimation;
    width: 100%;
    height: 100%;
    /* transition: 0.2s; */
}
.PathMain .card .text {
    position: absolute;
    background-color: rgba(54, 81, 69, 0.75);
    width: 100%;
    padding: 5px 0;
    height: auto;
    font-size: inherit;
    color: #ffffff;
    font-weight: 700;
}
.PathMain .card .name {
    font-size: inherit;
}
.PathMain .card .check {
    position: absolute;
    top: 0;
    left: 62.5%;
    padding: 5px 0;
    height: auto;
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
}
@keyframes boxanimation {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
@keyframes imganimation {
    0% {
      transform: translateX(-30%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
/* 
.PathMain .card:hover{
    transform: scale(1.05);
    opacity: 0.9;
    box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.15);
    transition: 0.2s;
} 
.PathMain .card:hover img{
    transform: scale(1.15);
    transition: 0.3s;
} */