@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');
.PathMap {
    height: 100vh;
}
.PathMap .map {
    height: 100%;
    background-color: #FFFFFF;
}
/* BACKKEY */
.PathMap .backkeybox {
    /* position: absolute;
    left:0;
    top:0;
    margin: 12.5px;
    padding: 10px 8px; */
    width: 25px; 
    background-color: #365145;
    /* opacity: 80%; */
    /* border-radius: 20%; */
    /* z-index: 1; */
    text-align: center;
}
.PathMap .BackKey .menu-btn{
    position: relative;
    text-align: center;
    z-index: 1;
}

/* CENTER */
.PathMap .centerbox {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 12.5px;
    padding: 10px 8px;
    width: 25px;
    background-color: #365145;
    /* opacity: 80%; */
    /* border-radius: 20%; */
    /* z-index: 1; */
    text-align: center;
}
.PathMap .centerbox-active {
    animation: 0.4s ease-in-out 1 highCenter;
    margin-bottom: 112.5px;
}
.PathMap .centerbox-inactive {
    animation: 0.4s ease-in-out 1 lowCenter;
}
.PathMap .centerbox div{
    color: #FFFFFF;
    font-size: 18px;
    z-index: 1;
}


/* SNAKE */
.PathMap .snake {
    animation: 0.4s  ease-in-out 1 showSnake;
    position: fixed;
    bottom: 0;
    width: 90vw;
    height: 80px;
    padding: 10px 5vw;
    background-color: #FFFFFF;
    border-radius: 16px 16px 0 0;
    font-family: 'Noto Sans TC', sans-serif;
}
.PathMap .hide {
    animation: 0.4s  ease-in-out 1 closeSnake;
    opacity: 0; 
    z-index: -1; 
}
.PathMap .snake .title {
    position: absolute;
    margin: 0;
    font-size: 22px;
    left: 5vw; 
    color: #365145;
    font-weight: bold;
}
.PathMap .snake .detail {
    position: absolute;
    font-size: 18px;
    width: 25vw;
    top: 50px;
    left: 5vw;
    padding: 7.5px 0;
    text-align: center;
    background-color: #365145;
    box-sizing: border-box;
    border: #6B9080 solid;
    color: #FFFFFF;
    border-radius: 16px;
    font-weight: 600;  
    
}
.PathMap .snake .navigate {
    position: absolute;
    font-size: 18px;
    top: 50px;
    left: 35vw;
    padding: 7.5px 0;
    width: 25vw;
    text-align: center;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border: #6B9080 solid;
    color: #365145;
    border-radius: 16px;
    font-weight: 600;  
}
.PathMap .snake .cancel {
    position: absolute;
    margin: 0;
    display: inline-block;
    font-size: 22px;
    right: 5vw; 
    color: #365145;
}


@keyframes showSnake {
    0% {
        z-index: -1;
        opacity: 0;
        transform: translateY(100px);
    }
    1% {
        z-index: 0;
        opacity: 1;
    }
    100% {
        z-index: 0;
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes closeSnake {
    0% {
        z-index: 0;
        opacity: 1;
        transform: translateY(0);
    }
    99% {
        z-index: 0;
        opacity: 1;
    }
    100% {
        z-index: -1;
        opacity: 0;
        transform: translateY(100px);
    }
}

@keyframes highCenter {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes lowCenter {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}

/* .PathMap .debugbox {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: hsla(239, 100%, 67%, 0.8);
    background-color: #365145;
    opacity: 0.8;
    padding: 5px;
}
.PathMap .debugbox button{
    all: unset;
    color: white;
} */

