@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');
.SpotPage {
    /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
    background-color: #F6FFF8;
    height: 100vh;
}

/* HEADER */
.SpotPage .header {
    background-color: #6B9080;
    height: auto;
    text-align: center;
    padding: 10px;
}
.SpotPage .header h1 {
    margin: 0;
    color: #F4F4F4;
    font-size: 18px;
}

/* IMG CONTAINER */
.SpotPage .container{
    margin: 20px 5vw;
    overflow-y: scroll;
    height: 30vh;
    width: 90vw;
    overflow: hidden;
}
.SpotPage .container img {
    width: 100%;
    height: 100%;
    transform: scale(1.01);
}

/* TITLE */
.SpotPage .title {
    margin: 0 5vw;
    width: 90vw;
    height: 60px;
}
.SpotPage .title h1 {
    font-size: 22px;
    color: #040415;
    margin: 0;
}
.SpotPage .title .check{
    font-size: 22px;
    color: #6B9080;
    display: inline;
    margin: 0 0 0 10px;
}
.SpotPage .title h2 {
    font-size: 18px;
    color: #040415;
    opacity: 0.5;
    margin: 0;
}

/* DESCRIPTION */
.SpotPage .description {
    background-color: #A4C3B2;
    position: absolute;
    margin: 10px 5%;
    padding: 8px;
    max-height: 30%;
    overflow-y: scroll;
}
.SpotPage .description p {
    color: #FFFFFF;
    display: inline;
    font-size: 17px;
    letter-spacing: 1.5px;
    font-family: 'Noto Sans TC', sans-serif;
}
.SpotPage .description button {
    all: unset;
    font-size: 18px;
    color: #040415;
    opacity: 0.5;
}

.SpotPage .claim {
    all: unset;
    text-align: center;
    position: absolute;
    width: 90%;
    height: 60px;
    bottom: 20px;
    left: 5vw;
    font-size: 18px;
    color: #FFFFFF;
    background: #537164;
    border-radius: 16px;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 1.5px;
}
@keyframes glowing {
    0% {
      background-color: #cccccc;
    }
    20% {
      background-color: #537164;
    }
    80% {
        background-color: #537164;
    }
    100% {
      background-color: #cccccc;
    }
}
.SpotPage .active {
    animation: glowing 3000ms infinite;
}
.SpotPage .inactive {
    background-color: #cccccc;
    color: #040415;
    opacity: 0.5;
}
